.whatsapp_float {
  position: relative;
}
.whatsapp_icon-position {
  position: fixed;
  bottom: 40px;
  /* right: 25px; */
  left: 25px;
  z-index: 20;
}
.whatsapp_icon-style {
  background-color: #25d366;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: whatsapp_movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.whatsapp_con-style:hover {
  animation: none;
  background: #fff;
  color: #25d366;
  border: 2px solid #25d366;
}
@keyframes whatsapp_movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
